<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CROP RECOMMENDATION SYSTEM</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css2.css')}}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>CROP RECOMMENDATION SYSTEM</h1>
      
      <br>
      <h2 style="color: black;">Enhancing AgriCulture Through AI</h2>
      <br>
      
    </main>
    <h4 style="color: black ; text-align: center;">Click Here for Crop Predition</h4>
     <form action="/Predict">
      <input type="submit" id="Predict" name="Predict" action="/Predict" value="Predict">
     </form>
  </body>
</html>